<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="/static/stylesheets/welcome-template.css" type="text/css">

         <title>Welcome {{.Name}}</title>

   </head>
   <body>
      <div class="welcome center">Welcome {{.Name}}, page last built {{.Time}}</div>
      <div class="container">
         <div class="formDiv">
            <link rel="stylesheet" property="stylesheet" href="https://d175hd3dhailgy.cloudfront.net/static/css/main.css">
            <script src="https://d175hd3dhailgy.cloudfront.net/static/js/main.js" async=""></script>
            <div id="7ed7bd1f-0f83-49c0-98fb-7f824def1365-loca"></div>
         </div>
      </div>
   </body>
</html>
